<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-item-hide">


  <ion-tab title="Search" icon="ion-search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Artist" icon="ion-mic-c" href="#/tab/artist">
    <ion-nav-view name="tab-artist"></ion-nav-view>
  </ion-tab>


</ion-tabs>
